<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- 경로를 / 부터 시작하면 static 폴더 하위 파일들 사용 가능-->
    <link href="/main.css" rel="stylesheet">
</head>
<body>

<div class="card" >
    <table aria-colspan="4">
        <tr>
            <th>공지사항번호</th>
            <th>공지사항 제목</th>
            <th>등록일자</th>
            <th>수정일자</th>
        </tr>

        <tr th:each="ntcList : ${noticeList}">
            <td th:text="${ntcList.notice_id}"></td>
            <td th:text="${ntcList.notice_title}"></td>
            <td th:text="${ntcList.indt}"></td>
            <td th:text="${ntcList.updt}"></td>
        </tr>
    </table>
</div>


</body>
</html>