<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- 경로를 / 부터 시작하면 static 폴더 하위 파일들 사용 가능-->
    <link href="/main.css" rel="stylesheet">
</head>
<body>

<!--상단 navbar -->
<div th:replace="~{nav.html::navbar}"></div>

<!-- 단일 행일 경우 get(0) 이나 [0] 으로 꺼내오지 않고 넘어온 변수 그대로 사용하면 됨 -->
<div class="detail">
    <h4>상세페이지</h4>
    <img src="https://placehold.co/300">
    <h4 th:text="${productDetail.prodNm}"></h4>
    <p th:text="${productDetail.price}"><p>
</div>

<form action="/product/saveComment" method="POST">
    <input name="content">
    <input type="hidden" name="userId">
    <input type="hidden" name="parentId" th:value="${productDetail.prodCd}">
    <button>댓글작성</button>
</form>

</body>
</html>