<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- 경로를 / 부터 시작하면 static 폴더 하위 파일들 사용 가능-->
    <link href="/main.css" rel="stylesheet">
</head>
<body>

<!--상단 navbar -->
<div th:replace="~{nav.html::navbar}"></div>

<!-- 복수 건을 출력하고 싶을 때는 해당 코드와 같이 thymeleaf 의 each 코드를 사용해서 뽑아내면 반복문 돌면서 출력함 -->
<div class="card" th:each="prdList : ${products}">
    <img src="https://placehold.co/300">
    <div>
        <h4 th:text="${prdList.prodCd}"></h4>
        <h4 th:text="${prdList.prodNm}"></h4>
        <p th:text="${prdList.price}"><p>
    </div>
</div>

<!-- 참고로 단일 건인 경우 이렇게 사용하고
    <div class="card">
        <img src="https://placehold.co/300">
        <div>
            참고로 ${products[0].prodCd} 로 사용해도 무방함
            <h4 th:text="${products.prodCd}"></h4>
            <h4 th:text="${products.prodNm}"></h4>
            <p th:text="${products.price}"><p>
        </div>
    </div>
-->

</body>
</html>