<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- 경로를 / 부터 시작하면 static 폴더 하위 파일들 사용 가능-->
    <link href="/main.css" rel="stylesheet">
</head>
<body>

<!--상단 navbar -->
<div th:replace="~{nav.html::navbar}"></div>

<div th:if="${param.error}">
    <h4>아이디 혹은 비밀번호를 확인해주시기 바랍니다.</h4>
</div>

<form action="/login" method="POST">
    <input name="username">
    <input name="password" type="password">
    <button type="submit">로그인</button>
</form>


</body>
</html>